*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#cards{
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    column-gap: 20px;
    background: black;
}
#image1{
    background-image: url(./img/IMG_20211014_183705_054.jpg);
    width: 890px;
    height: 90vh;
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 65px;
}
#image2{
    background-image: url(./img/photo_2022-03-14_07-53-33.jpg);
    width: 80px;
    height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 65px;
}
#image3{
    background-image: url(./img/photo_2021-12-28_18-59-54.jpg);
    width: 80px;
    height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 65px;
}
#image4{
    background-image: url(./img/photo_2022-03-14_07-53-20.jpg);
    width: 80px;
    height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 65px;

    
}


#image5{
    background-image: url(./img/photo_2022-06-27_17-48-21.jpg
    );
    width: 80px;
    height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 65px;
}